<% provide(:title, 'О нас') %>
<h1>СТРОИТЕЛЬНАЯ КОМПАНИЯ "РУСЭМ"</h1>
<h3>Руководитель:  Русаков Станислав Васильевич</h3>
<h4>Телефон/факс (3812) 40-69-59</h4>
<p>Производство общестроительных работ</p>
