<% provide(:title, 'Контакты') %>
<h2>Общество с ограниченной ответственностью «Строительная компания «РусЭМ» (ООО «СК «РусЭМ»)</h2>
<p>Телефон/факс:

(3812) 40-69-59
</p>
<p>
Е-mail:

sk-rusm@yandex.ru</p>
